body{
    font-family: Arial,sans-serif;
    background: #f9f9f9;
}
.error{
    color:red;
}
.container{
    max-width: 700px;
    margin: 50px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}
textarea{
    width: 100%;
    height:160px;
    padding: 10px;
    resize: vertical;
}
button{
    margin-top: 12px;
    padding: 10px 16px;
    font-size: 15px;
    cursor: pointer;
}
.sentiment{
    margin-top: 5px;
    font-weight: bold;
}
.sentiment.positive{
    color: Green;
}
.sentiment.neutral{
    color:gray;
}
.sentiment.negative{
    color:red;
}